* {
  margin: 0;
}

.flex-container {
  display: flex;
}

.flex-container2 {
  display: flex;
}

.item {
  margin-top: 5%;
  height: 100px;
  min-width: 100px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.yellow2 {
  background-color: yellow;
  width: 100%;
}

.purple {
  background-color: purple;
}