* {
  margin: 0px;
  padding: 0px;
}

#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

button {
  /*visibility: hidden;*/
  position: relative;
  padding: 0px;
  text-align: left;
  border: 0px;
  background-color: tomato;
  width: 200px;
  height: 40px;
}

div {
  background-color: black;
  width: 40px;
  height: 40px;
}

.fa-trash-alt {
  color: #fff;
  padding: 12px;
}

.fa-trash-alt:hover {
  background-color: rgb(10, 70, 70);
  visibility: visible;
}
