.container {
  display: flex;
  background-color: antiquewhite;
}

.container > div {
  width: 100px;
  height: 100px;
}

.first {
  background-color: blueviolet;
}

div:nth-child(2) {
  background-color: yellow;
  width: 200px;
}

div:nth-child(3) {
  background-color: green;
}

@media only screen and (max-width: 600px) {
 .container {
  flex-direction: column;
 }

 .container > div {
  width: 200px;
  height: 100px;
  }

}