*{
	padding:0px;
	margin:0px;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#flex {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.rightDiv {
  width:100px;
	height:409px;
}

img {
  width: 800px;
  height: 409px;
}

.leftDiv {
  width:100px;
	height:409px;
}
