@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'tryout';

*{
	padding:0px;
	margin:0px;
}

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}

body {
  font-family: $fontFamily;
  background-image: $background;
}

#container {
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 900px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: $boxShadow;
}

.img {
  width: 800px;
  height: 400px;
}

.fa:hover {
  cursor: pointer;
  color: $hoverColor;
}

.titleContainer {
  position: absolute;
  background-color: $SliderColor;
  color: $WhiteColor;
  width: 800px;
  height: 100px;
  margin-top: 300px;
}

h2, p {
  margin-top: 10px;
  margin-left: 10px;
}

.move {
  width: $smallPictureWidth;
  height: $smallPictureHeight;
  border: $SmallImgBorder;
  border-radius: $smallPictureRadio;
  box-shadow: $smallPictureShadow;
  margin: 5px;
  filter: sepia(70%);
}

.move:hover {
  cursor: pointer;
  filter: none;
}
