<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Coctails</title>
</head>

<body>
  <table>
    <% for (let index = 0; index < alcoholList.length; index++) { %>
    <tr>
      <%= alcoholList[index] %>
    </tr>
    <% } %>
  </table>
  <table>
    <% for (let index = 0; index < alcoholList.length; index++) { %>
    <tr>
      <%= cocktails[index] %>
    </tr>
    <% } %>
  </table>
</body>

</html>