<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Coctails</title>
</head>

<body>
  <table>
    <% for (let index = 0; index < alcoholList.length; index++) { %>
    <tr> <%= alcoholList[index] %> </tr>
    <% } %>
  </table>
  <table>
        <% for (let index = 0; index < cocktails.length; index++) { %>
          <tr>
              <td>
                <p><a href='/coctails'><%= cocktails[index].name %></a>
                <% if (!cocktails[index].isAlcoholic) {%>
                  (non-alcoholic)
                  <% } %></p>  
                <br/>
                <%= cocktails[index].contains %>
              </td>
              <td>
                  <%= cocktails[index].price %>
              </td>
          </tr>
          <% } %>
  </table>
</body>

</html>